<footer local-class='footer-root'>
  <div local-class='content'>
    <div local-class='info'>
      <p local-class='footer-title'>Customer Crud App</p>
      <p local-class='name'>Sarif Mia</p>
    </div>
  </div>
</footer>