<header local-class='header-root'>
  <nav local-class='content'>
    <div local-class='left-aligned'>
      <div local-class='logo-text'>
        <p local-class='logo-text-data'>Crud</p>
      </div>
      <LinkTo @route='index' local-class='nav-link'>Home</LinkTo>
      <LinkTo @route='customers' local-class='nav-link'>Customers</LinkTo>
    </div>
    <div local-class='right-aligned'>
      <p local-class='nav-link'>james@email.com</p>
      <LinkTo @route='index' local-class='nav-link'>Log out</LinkTo>
    </div>
  </nav>
</header>