<div local-class='row header'>
  <div local-class='id'>
    <p>ID</p>
  </div>
  <div local-class='email'>
    <p>Email</p>
  </div>
  <div local-class='last-updated'>
    <p>Last Updated</p>
  </div>
</div>